In [3]:
import pandas as pd

In [4]:
enzyme_gene_name_d = {"Formate DHN":["fdnG","fdnH","fdnI"],
"Formate DHO":["fdoG","fdoH","fdoI"],
"Formate hydrogen-lyase":["fdhF","hycA","hycB","hycC","hycD","hycE","hycF","hycG","hycH"],
"Hydrogenase 1":["hyaA","hyaB","hyaC","hyaD","hyaE","hyaF"],
"Hydrogenase 2":["hybA","hybB","hybC","hybD","hybE","hybF","hybG"],
"NADH DH I":['nuoA', 'nuoB', 'nuoC', 'nuoD', 'nuoE', 'nuoF', 'nuoG', 'nuoH', 'nuoI', 'nuoJ', 'nuoK', 'nuoL', 'nuoM', 'nuoN'],
"NADH DH II":["ndh"],
"Glycerol-3-P DHO":["glpD"],
"Glycerol-3-P DHN":["glpA", "glpB", "glpC"],
"Pyruvate oxidase":["poxB"],
"d-Lactate DH":["dld"],
"l-Lactate DH":["lctD"],
"d-Amino acid DH":["dadA"],
"Glucose dehydrogenase":["gcd"],
"Succinate DH":["sdhC", "sdhD", "sdhA","sdhB"],
"Quinol oxidase bo3":['cyoA', 'cyoB', 'cyoC', 'cyoD', 'cyoE'],
"Quinol oxidase bd":["cydA","cydB"],
"Quinol oxidase III (Cyx)":["cyxA","cyxB"],
"Nitrate reductase A":["narG","narH","narJ","narI"],
"Nitrate reductase Z":["narZ","narY","narW","narV"],
"Nitrate reductase, periplasmic":["napF","napD","napA","napG","napH","napB","napC"],
"Nitrite reductase":["nrfA","nrfB","nrfC","nrfD","nrfE","nrfF","nrfG"],
"DMSO reductase":["dmsA","dmsB","dmsC"],
"TMAO reductase":["torC","torA","torD"],
"Fumarate reductase":["frdA","frdB","frdC","frdD"]}

In [5]:
gene_df = pd.read_csv(
    "./data/regulondb10_9/gene.txt", sep="\t", comment='#', header=None)
gene_df.columns = [
    "GENE_ID",
    "GENE_NAME",
    "GENE_POSLEFT",
    "GENE_POSRIGHT",
    "GENE_STRAND",
    "GENE_SEQUENCE",
    "GC_CONTENT",
    "CRI_SCORE",
    "GENE_NOTE",
    "GENE_INTERNAL_COMMENT",
    "KEY_ID_ORG",
    "GENE_TYPE"
]
gene_df

,GENE_ID,GENE_NAME,GENE_POSLEFT,GENE_POSRIGHT,GENE_STRAND,GENE_SEQUENCE,GC_CONTENT,CRI_SCORE,GENE_NOTE,GENE_INTERNAL_COMMENT,KEY_ID_ORG,GENE_TYPE
0,ECK120000001,alr,4265782.0,4266861.0,forward,ATGCAAGCGGCAACTGTTGTGATTAACCGCCGCGCTCTGCGACACA...,55.93,NaN,NaN,NaN,ECK12,NaN
1,ECK120000002,modB,795862.0,796551.0,forward,ATGATACTGACCGATCCAGAATGGCAGGCAGTTTTATTAAGCCTGA...,54.06,NaN,NaN,NaN,ECK12,NaN
2,ECK120000003,cysZ,2531463.0,2532224.0,forward,ATGGTTTCATCATTCACATCTGCCCCACGCAGCGGTTTTTACTATT...,50.13,NaN,NaN,NaN,ECK12,NaN
3,ECK120000004,dfp,3812731.0,3813951.0,forward,ATGAGCCTGGCCGGTAAAAAAATCGTTCTCGGCGTTAGCGGCGGTA...,53.64,NaN,NaN,NaN,ECK12,NaN
4,ECK120000005,dcuB,4347404.0,4348744.0,reverse,ATGTTATTTACTATCCAACTTATCATAATACTGATATGTCTGTTTT...,52.27,NaN,NaN,NaN,ECK12,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4703,ECK125288180,speFL,720718.0,720822.0,reverse,ATGGAAAATAACAGCCGCACTATGCCCCATATAAGGCGGACAACTC...,42.86,NaN,NaN,NaN,ECK12,NaN
4704,ECK125289860,ipeX,574367.0,574515.0,reverse,AAGATATGTTGCGGGAGGCGTTGCCTCCCCAACATATAAGTGGCTC...,43.62,NaN,NaN,NaN,ECK12,NaN
4705,ECK125289861,orzP,2204402.0,2204484.0,forward,GTTGGAACACGATGTTGCACAGGCTGTGGTGTTAGGCCTGAAAATA...,43.37,NaN,NaN,NaN,ECK12,NaN
4706,ECK125289862,rbsZ,3937045.0,3937278.0,forward,GACTATCGCTCAGCTACCCGATCAGATTGGCGCGAAAGGCGTCGAA...,46.58,NaN,NaN,NaN,ECK12,NaN
4707,ECK125289863,raiZ,2737381.0,2737542.0,forward,ATTGATCAACAAGCTGGAACGGCAGCTCAATAAACTGCAGCACAAA...,49.38,NaN,NaN,NaN,ECK12,NaN

In [6]:
geno_feat_synonym_df = pd.read_csv(
    "./data/regulondb10_9/object_synonym.txt",
    sep="\t",
    comment='#',
    header=None,
    quoting=3
)
geno_feat_synonym_df.columns = ["OBJECT_ID", "OBJECT_SYNONYM_NAME", "OS_INTERNAL_COMMENT", "KEY_ID_ORG"]
geno_feat_synonym_df

,OBJECT_ID,OBJECT_SYNONYM_NAME,OS_INTERNAL_COMMENT,KEY_ID_ORG
0,ECK120000001,alr5,NaN,ECK12
1,ECK120000001,b4053,NaN,ECK12
2,ECK120000001,ECK4045,NaN,ECK12
3,ECK120000001,EG10001,NaN,ECK12
4,ECK120000002,tslJ,NaN,ECK12
...,...,...,...,...
35662,ECK125300414,DNA-binding transcriptional dual regulator YdcI,NaN,ECK12
35663,ECK125300415,SlyA,NaN,ECK12
35664,ECK125300416,BolA-phosphate,NaN,ECK12
35665,ECK125300417,ArgR,NaN,ECK12
35666,ECK125300419,YdcI,NaN,ECK12

In [7]:
from mutil.gene import get_gene_bnum

In [8]:
gene_bnum_d = dict()
for gene_names in enzyme_gene_name_d.values():
    for gn in gene_names:
        gene_bnum_d[gn] = ''
        regdb_df = gene_df[gene_df["GENE_NAME"]==gn]
        if len(regdb_df) > 0:
            regdb_id = regdb_df.iloc[0]["GENE_ID"]
            bnum = get_gene_bnum(regdb_id, geno_feat_synonym_df)
            gene_bnum_d[gn] = bnum
gene_bnum_d

{'fdnG': 'b1474',
 'fdnH': 'b1475',
 'fdnI': 'b1476',
 'fdoG': 'b3894',
 'fdoH': 'b3893',
 'fdoI': 'b3892',
 'fdhF': 'b4079',
 'hycA': 'b2725',
 'hycB': 'b2724',
 'hycC': 'b2723',
 'hycD': 'b2722',
 'hycE': 'b2721',
 'hycF': 'b2720',
 'hycG': 'b2719',
 'hycH': 'b2718',
 'hyaA': 'b0972',
 'hyaB': 'b0973',
 'hyaC': 'b0974',
 'hyaD': 'b0975',
 'hyaE': 'b0976',
 'hyaF': 'b0977',
 'hybA': 'b2996',
 'hybB': 'b2995',
 'hybC': 'b2994',
 'hybD': 'b2993',
 'hybE': 'b2992',
 'hybF': 'b2991',
 'hybG': 'b2990',
 'nuoA': 'b2288',
 'nuoB': 'b2287',
 'nuoC': 'b2286',
 'nuoD': '',
 'nuoE': 'b2285',
 'nuoF': 'b2284',
 'nuoG': 'b2283',
 'nuoH': 'b2282',
 'nuoI': 'b2281',
 'nuoJ': 'b2280',
 'nuoK': 'b2279',
 'nuoL': 'b2278',
 'nuoM': 'b2277',
 'nuoN': 'b2276',
 'ndh': 'b1109',
 'glpD': 'b3426',
 'glpA': 'b2241',
 'glpB': 'b2242',
 'glpC': 'b2243',
 'poxB': 'b0871',
 'dld': 'b2133',
 'lctD': '',
 'dadA': 'b1189',
 'gcd': 'b0124',
 'sdhC': 'b0721',
 'sdhD': 'b0722',
 'sdhA': 'b0723',
 'sdhB': 'b0724',
 'cyoA': 'b0432',
 'cyoB': 'b0431',
 'cyoC': 'b0430',
 'cyoD': 'b0429',
 'cyoE': 'b0428',
 'cydA': 'b0733',
 'cydB': 'b0734',
 'cyxA': '',
 'cyxB': '',
 'narG': 'b1224',
 'narH': 'b1225',
 'narJ': 'b1226',
 'narI': 'b1227',
 'narZ': 'b1468',
 'narY': 'b1467',
 'narW': 'b1466',
 'narV': 'b1465',
 'napF': 'b2208',
 'napD': 'b2207',
 'napA': 'b2206',
 'napG': 'b2205',
 'napH': 'b2204',
 'napB': 'b2203',
 'napC': 'b2202',
 'nrfA': 'b4070',
 'nrfB': 'b4071',
 'nrfC': 'b4072',
 'nrfD': 'b4073',
 'nrfE': 'b4074',
 'nrfF': 'b4075',
 'nrfG': 'b4076',
 'dmsA': 'b0894',
 'dmsB': 'b0895',
 'dmsC': 'b0896',
 'torC': 'b0996',
 'torA': 'b0997',
 'torD': 'b0998',
 'frdA': 'b4154',
 'frdB': 'b4153',
 'frdC': 'b4152',
 'frdD': 'b4151'}

In [9]:
# manually filling in blanks with Ecocyc lookup
full_gene_bnum_d = {'fdnG': 'b1474',
 'fdnH': 'b1475',
 'fdnI': 'b1476',
 'fdoG': 'b3894',
 'fdoH': 'b3893',
 'fdoI': 'b3892',
 'fdhF': 'b4079',
 'hycA': 'b2725',
 'hycB': 'b2724',
 'hycC': 'b2723',
 'hycD': 'b2722',
 'hycE': 'b2721',
 'hycF': 'b2720',
 'hycG': 'b2719',
 'hycH': 'b2718',
 'hyaA': 'b0972',
 'hyaB': 'b0973',
 'hyaC': 'b0974',
 'hyaD': 'b0975',
 'hyaE': 'b0976',
 'hyaF': 'b0977',
 'hybA': 'b2996',
 'hybB': 'b2995',
 'hybC': 'b2994',
 'hybD': 'b2993',
 'hybE': 'b2992',
 'hybF': 'b2991',
 'hybG': 'b2990',
 'nuoA': 'b2288',
 'nuoB': 'b2287',
 'nuoC': 'b2286',
 'nuoE': 'b2285',
 'nuoF': 'b2284',
 'nuoG': 'b2283',
 'nuoH': 'b2282',
 'nuoI': 'b2281',
 'nuoJ': 'b2280',
 'nuoK': 'b2279',
 'nuoL': 'b2278',
 'nuoM': 'b2277',
 'nuoN': 'b2276',
 'ndh': 'b1109',
 'glpD': 'b3426',
 'glpA': 'b2241',
 'glpB': 'b2242',
 'glpC': 'b2243',
 'poxB': 'b0871',
 'dld': 'b2133',
 'lctD': 'b3605',
 'dadA': 'b1189',
 'gcd': 'b0124',
 'sdhC': 'b0721',
 'sdhD': 'b0722',
 'sdhA': 'b0723',
 'sdhB': 'b0724',
 'cyoA': 'b0432',
 'cyoB': 'b0431',
 'cyoC': 'b0430',
 'cyoD': 'b0429',
 'cyoE': 'b0428',
 'cydA': 'b0733',
 'cydB': 'b0734',
 'cyxA': 'b0978',
 'cyxB': 'b0979',
 'narG': 'b1224',
 'narH': 'b1225',
 'narJ': 'b1226',
 'narI': 'b1227',
 'narZ': 'b1468',
 'narY': 'b1467',
 'narW': 'b1466',
 'narV': 'b1465',
 'napF': 'b2208',
 'napD': 'b2207',
 'napA': 'b2206',
 'napG': 'b2205',
 'napH': 'b2204',
 'napB': 'b2203',
 'napC': 'b2202',
 'nrfA': 'b4070',
 'nrfB': 'b4071',
 'nrfC': 'b4072',
 'nrfD': 'b4073',
 'nrfE': 'b4074',
 'nrfF': 'b4075',
 'nrfG': 'b4076',
 'dmsA': 'b0894',
 'dmsB': 'b0895',
 'dmsC': 'b0896',
 'torC': 'b0996',
 'torA': 'b0997',
 'torD': 'b0998',
 'frdA': 'b4154',
 'frdB': 'b4153',
 'frdC': 'b4152',
 'frdD': 'b4151'}

In [10]:
import pickle

In [14]:
with open('./data/gene_name_bnum_d.pkl', 'wb') as handle:
    pickle.dump(full_gene_bnum_d, handle, protocol=pickle.HIGHEST_PROTOCOL)